doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    if session
      form(method='POST' action='/logout')
        input(type='submit', value='Logout')
    block content
